.header {
  background: url(../../images/food10.jpg);
  padding: 3rem 3rem;
  background-size: cover;
}

.header--content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header--text {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;

  h1 {
    @include contentWords;
  }
  p {
    @include highlightWords;
    width: 70%;
  }
}

.food--input {
  border-radius: 10rem;
  border: none;
  outline: none;
  width: 40%;
  height: 4rem;
  font-size: 1.7rem;
  padding: 1rem 2rem;
}
