.btn--div {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
}

.btn {
  @include highlightWords;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background-color: #ff9300;
  color: white;
  border: none;
}

.reds {
  color: #ff9300;
}
.yellows {
  color: #ff304f;
  border-bottom: 1rem;
  border-bottom-color: #ff9300;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-style: solid;
  //   border-bottom-width: 80%;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.watch--story {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.story {
  font-size: 2rem;
}
